.account-container {
    background-color: #fdfff0;
    border-radius: 25px;
    padding: 0px 2vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(72, 77, 78, 0.1);
    max-width: 400px;
    margin: 5vh auto;
    font-family: 'Segoe UI', sans-serif;
}

.account-title {
    color: #98a3a3;
    text-shadow: -2px 1px 0px #484d4e;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.account-input {
    margin: 5px;
    padding: 14px 18px;
    font-size: 1em;
    border: 1px solid #98a3a3;
    border-radius: 15px;
    background-color: #fdfff0;
    box-shadow: 0 4px 8px rgba(72, 77, 78, 0.05);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #484d4e;
}

.account-input:focus {
    border-color: #484d4e;
    box-shadow: 0 0 0 3px rgba(152, 163, 163, 0.4);
    outline: none;
}

.account-button {
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.account-button:hover {
    background-color: #484d4e;
    transform: translateY(-2px);
}

.account-message {
    text-align: center;
    color: #484d4e;
    font-size: 0.9rem;
}

.account-link {
    text-align: center;
    color: #98a3a3;
    cursor: pointer;
    transition: color 0.3s ease;
}

.account-link:hover {
    color: #484d4e;
    text-decoration: underline;
}

.logout-button {
    background-color: #fdfff0;
    color: #484d4e;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(72, 77, 78, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
    background-color: #484d4e;
    color: #fdfff0;
    transform: translateY(-2px);
}

.logout-modal {
    background-color: #fdfff0;
    border-radius: 25px;
    padding: 2vw;
    box-shadow: 0 8px 24px rgba(72, 77, 78, 0.1);
    max-width: 400px;
    margin: 5vh auto;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-modal-text {
    color: #484d4e;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.logout-modal-button {
    background-color: #fdfff0;
    color: #484d4e;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(72, 77, 78, 0.4);
    margin: 0.5rem 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-modal-button:hover {
    background-color: #484d4e;
    color: #fdfff0;
    transform: translateY(-2px);
}
