.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    box-sizing: border-box;
}

.text-container {
    padding: 2vh;
    border-radius: 1rem;
    /* background-color: #1e1e1e; */
    min-height: 10vh;
    margin-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.word {
    position: relative;
    font-size: 1.7em;
    line-height: 1em;
    font-weight: 600;
    margin: .25em .3em;
    letter-spacing: 0.05em;
    display: inline-block;
    /* Ensures uniform background size */
    font-family: 'Roboto mono', monospace;
}

.current {
    /* background-color: #eee; */
    background-color: #FAFFCC;
    color: grey;
}

.correct {
    color: #FAFFCC;
}

.incorrect {
    color: red;
}

.pending {
    color: #444;
}

.missing {
    color: #444;
    text-decoration: underline;
    text-decoration-color: red;
}
